
body{ font-family: 'Poppins', sans-serif;}
img{ width: 100%; object-fit: contain;}
ul{ list-style: none;}
h2,h5,p{ margin: 0px;}
.container{max-width: 1199px; margin: 0 auto;}
.creativeSection{ padding-top: 110px;}
.creativeSection ul{ color: #000; display: flex; }
.creativeSection ul li{ flex: 0 0 50%;}
.creativeSection p{max-width: 440px;}
 h2{font-family: 'PT Serif', serif;font-size: 36px; font-weight: 700; line-height: 48px; text-align: left;}
 p{font-size: 18px; font-weight: 400; line-height: 27px; margin-bottom: 10px; text-align: left;  }
.bold{font-weight: 600 !important;}
.memberbox{ max-width: 270px; width: 100%;padding-bottom: 37px; }
.imgbox{position: relative; }
.img{overflow: hidden;}
.img img{transition: 300ms linear;}
.memberbox:hover .imgbox img{ transform: scale(1.1);}
.imgbox p{ transform: rotate(90deg); text-align: left; position: absolute; top: 50px; right: -90px; width: 137px;}
.teamSection ul{ display: flex; margin-top: 90px; justify-content: space-between; flex-wrap: wrap; padding-left: 0px; }
.teamSection ul li{ display: flex; flex: 0 0 33%; justify-content: center; }
.teamSection ul li:nth-child(2) , .teamSection ul li:nth-child(5){ margin-top: 132px;}
.memberbox p{ padding-top: 0px;}

.footer{ margin-top: 0px;}
.small , .small span, .small a{ font-family: 'Montserrat'; font-size: 14px; font-weight: 500; color: #BDBDBD; line-height: 17px; letter-spacing: 0em; text-align: center; }
.small span{ font-weight: 700; }
.small a{ text-decoration: none; }

@media (max-width: 1199px) { 
 }

 @media (max-width: 991px) {
  .creativeSection { padding-top: 60px; }  
  .container{ max-width: 610px; margin: 0 auto;}
  .teamSection ul li{ flex: 0 0 50%;}
  .memberbox { max-width: 220px;}
  .teamSection ul li:nth-child(even){ margin-top: 50px;}
  .teamSection ul li:nth-child(5){ margin-top: 0;}
  /* .errorMessage h2 { font-size: 44px; line-height: 50px; } */
  /* .errorMessage p{font-size: 22px; line-height: 30px;} */
  

  }

  @media (max-width: 767px) { 
    body{ height: 100%;} 
   }

   @media (max-width: 578px) {
    p{ font-size: 14px; line-height: 22px;}
    .creativeSection ul{ flex-direction: column;}
    h2{ font-size: 36px; padding-bottom: 32px;}
    .memberbox { max-width: 140px; padding-bottom: 15px;}
    .imgbox p{ font-size: 12px; line-height: 18px; top: 45px; right: -60px; width: 102px;}
    .memberbox p{ font-size: 14px; line-height: 20px;}
    .teamSection ul{margin-top: 60px;}
    .teamSection ul li:nth-child(even) {  margin-top: 60px; }
    .footer{ margin-top: 60px;}
    .small , .small span, .small a{ font-size: 14px; line-height: 20px;}
   } 
 
